.page-section{
    display: flex;
    flex-direction: column;    
}

.table-menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.refresh{
    height:fit-content;
}